.layout {
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr;

  .activity-options {
    grid-row: 1;
  }
  .activity-map {
    grid-row: 2;

    &.single {
      grid-column: span 2;
    }
  }
}