<div class="layout">
  <div class="left">
    <div class="maps">
      <div class='activity-map single'>
        <app-activity-map [activitySettingsChanges]="activitySettingsChanges"></app-activity-map>
      </div>
    </div>
    <div class="charts">
    </div>
  </div>
  <div class="right">
    <div *ngFor="let activitySettingsChange$ of activitySettingsChanges; let i = index" class="activity-options">
      <app-activity-options (activitySettingsChange)="onActivitySettingsChange($event, i)"></app-activity-options>
    </div>
  </div>
</div>